<form method="post" action="{{ path('app_reponse_reclamation_delete', {'idreponse': reponse_reclamation.idreponse}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse_reclamation.idreponse) }}">
    <button class="btn">Delete</button>
</form>
