{% extends 'base.html.twig' %}

{% block title %}Edit DemandeClient{% endblock %}

{% block body %}
    <h1>Edit DemandeClient</h1>

    {{ include('demande_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_demande_client_index') }}">back to list</a>

    {{ include('demande_client/_delete_form.html.twig') }}
{% endblock %}
