{#{% extends 'baseuser.html.twig' %}#}


{% block title %}New DemandeClient
{% endblock %}
{% block head %}{% endblock %}
<a href="{{ path('app_offre_demande_repondre', {'id': demande_client.id}) }}">mes affaires</a>

{% block body %}{% endblock %}
