{% extends 'front.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}

<div class="form-container" style="border: 1px solid #ccc; padding: 200px;">
<center>
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                

                <th><center>voir les offres</center></th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            

                <td>
                    <a href="{{ path('app_offreuser_show', {'idOffre': offre.idOffre}) }}"><center>show</center></a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offreuser_new') }}">Create new</a>
    </center>
    </div>
{% endblock %}
