{% extends 'front.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
<div class="form-container" style="border: 1px solid #ccc; padding: 200px;">
<center>
    <h1>Offre</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Offreur</th>
                <td>{{ offreur }}</td>
            </tr>
            <tr>
                <th>projet</th>
                <td>{{ title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_offreuser_index') }}">retourner a la liste</a></br>

    

    
    <button onclick="window.print()">PDF</button>
    </center>
    </div>
{% endblock %}
